<?xml version="1.0" encoding="utf-8"?>
<DataType Key="deefb5b3-f7f8-448d-b635-de5f20c67caa" Alias="[BlockList] Image Links" Level="1">
  <Info>
    <Name>[BlockList] Image Links</Name>
    <EditorAlias>Umbraco.BlockList</EditorAlias>
    <DatabaseType>Ntext</DatabaseType>
  </Info>
  <Config><![CDATA[{
  "Blocks": [
    {
      "backgroundColor": null,
      "iconColor": null,
      "thumbnail": null,
      "contentElementTypeKey": "a5ddef37-5531-4b58-89d4-729c916ff124",
      "settingsElementTypeKey": "cfd25a34-68af-4cb2-a13e-9700498bfd08",
      "view": null,
      "stylesheet": null,
      "label": "{{ title != '' ? title : 'Image Link ' + $index }}  {{$settings.hide == '1' ? '[HIDDEN]' : ''}}",
      "editorSize": "medium",
      "forceHideContentEditorInOverlay": false
    }
  ],
  "ValidationLimit": {
    "min": null,
    "max": null
  },
  "UseSingleBlockMode": false,
  "UseLiveEditing": false,
  "UseInlineEditingAsDefault": true,
  "MaxPropertyWidth": null
}]]></Config>
</DataType>