<?xml version="1.0" encoding="utf-8"?>
<DataType Key="f0940696-fccf-404d-a520-cb5dda9e8121" Alias="[BlockList] Accordion List" Level="1">
  <Info>
    <Name>[BlockList] Accordion List</Name>
    <EditorAlias>Umbraco.BlockList</EditorAlias>
    <DatabaseType>Ntext</DatabaseType>
  </Info>
  <Config><![CDATA[{
  "Blocks": [
    {
      "backgroundColor": null,
      "iconColor": null,
      "thumbnail": null,
      "contentElementTypeKey": "414edff7-37cc-459b-bc6c-28852d40e61b",
      "settingsElementTypeKey": "f5450c29-4ad8-4a29-b128-199a7540a195",
      "view": null,
      "stylesheet": null,
      "label": "{{ title != '' ? title : 'Accordion Item ' + $index }}  {{$settings.hide == '1' ? '[HIDDEN]' : ''}}",
      "editorSize": "medium",
      "forceHideContentEditorInOverlay": false
    }
  ],
  "ValidationLimit": {
    "min": null,
    "max": null
  },
  "UseSingleBlockMode": false,
  "UseLiveEditing": false,
  "UseInlineEditingAsDefault": true,
  "MaxPropertyWidth": null
}]]></Config>
</DataType>