<?xml version="1.0" encoding="utf-8"?>
<DataType Key="3c2d80d2-634d-43a7-81f1-aa42202f8556" Alias="[BlockList] Main Content" Level="1">
  <Info>
    <Name>[BlockList] Main Content</Name>
    <EditorAlias>Umbraco.BlockList</EditorAlias>
    <DatabaseType>Ntext</DatabaseType>
  </Info>
  <Config><![CDATA[{
  "Blocks": [
    {
      "backgroundColor": null,
      "contentElementTypeKey": "19bc126c-ddf7-4bc0-8122-e1565f2876be",
      "editorSize": "medium",
      "forceHideContentEditorInOverlay": false,
      "iconColor": null,
      "label": "{{ 'Rich Text ' + $index }} {{ $settings.hide == '1' ? '[HIDDEN]' : ''}}",
      "settingsElementTypeKey": "09b2890e-9d1b-416c-b654-a93f399dbf94",
      "stylesheet": null,
      "thumbnail": null,
      "view": null
    },
    {
      "backgroundColor": null,
      "contentElementTypeKey": "ec2c8064-e0c7-43cd-b8c5-ba3a334b5053",
      "editorSize": "medium",
      "forceHideContentEditorInOverlay": false,
      "iconColor": null,
      "label": "{{ 'Image Row ' + $index }} {{ $settings.hide == '1' ? '[HIDDEN]' : ''}}",
      "settingsElementTypeKey": "8c1af8e9-fd7b-4d00-9695-a2c2b1689045",
      "stylesheet": null,
      "thumbnail": null,
      "view": null
    },
    {
      "backgroundColor": null,
      "contentElementTypeKey": "09cee107-3b10-466b-a25b-b2606c7858bd",
      "editorSize": "medium",
      "forceHideContentEditorInOverlay": false,
      "iconColor": null,
      "label": "{{ title != '' ? title : 'Featured Items ' + $index}} {{ $settings.hide == '1' ? '[HIDDEN]' : '' }}",
      "settingsElementTypeKey": "42f61400-5ae6-41d3-adea-ccbc549c114f",
      "stylesheet": null,
      "thumbnail": null,
      "view": null
    }
  ],
  "MaxPropertyWidth": null,
  "UseInlineEditingAsDefault": false,
  "UseLiveEditing": false,
  "UseSingleBlockMode": false,
  "ValidationLimit": {
    "max": null,
    "min": null
  }
}]]></Config>
</DataType>