<?xml version="1.0" encoding="utf-8"?>
<DataType Key="87861f6a-6df3-4bf1-82a9-121e7cf6c077" Alias="[BlockList] Contact Form" Level="1">
  <Info>
    <Name>[BlockList] Contact Form</Name>
    <EditorAlias>Umbraco.BlockList</EditorAlias>
    <DatabaseType>Ntext</DatabaseType>
  </Info>
  <Config><![CDATA[{
  "Blocks": [
    {
      "backgroundColor": null,
      "contentElementTypeKey": "2c3b196b-4de1-498c-8b94-cc96e9ed0c1f",
      "editorSize": "medium",
      "forceHideContentEditorInOverlay": false,
      "iconColor": null,
      "label": "Contact Row",
      "settingsElementTypeKey": "7684fa2c-ec29-4c03-b62e-90f2ddc5933e",
      "stylesheet": null,
      "thumbnail": null,
      "view": null
    }
  ],
  "MaxPropertyWidth": null,
  "UseInlineEditingAsDefault": false,
  "UseLiveEditing": false,
  "UseSingleBlockMode": false,
  "ValidationLimit": {
    "max": null,
    "min": null
  }
}]]></Config>
</DataType>