<?xml version="1.0" encoding="utf-8"?>
<DataType Key="a21ef595-869c-41fb-a655-24eca7f1339c" Alias="[Dropdown] Drop Down" Level="1">
  <Info>
    <Name>[Dropdown] Drop Down</Name>
    <EditorAlias>Umbraco.DropDown.Flexible</EditorAlias>
    <DatabaseType>Nvarchar</DatabaseType>
  </Info>
  <Config><![CDATA[{
  "Items": [
    {
      "id": 9,
      "value": "Red"
    },
    {
      "id": 10,
      "value": "Blue"
    },
    {
      "id": 11,
      "value": "Pink"
    },
    {
      "id": 12,
      "value": "White"
    },
    {
      "id": 13,
      "value": "Black"
    }
  ],
  "Multiple": false
}]]></Config>
</DataType>