<?xml version="1.0" encoding="utf-8"?>
<DataType Key="5383242a-545b-4a6d-96bd-89125b676811" Alias="[Email Input] Email Address" Level="1">
  <Info>
    <Name>[Email Input] Email Address</Name>
    <EditorAlias>Umbraco.Community.Contentment.TextInput</EditorAlias>
    <DatabaseType>Nvarchar</DatabaseType>
  </Info>
  <Config><![CDATA[{
  "inputType": "email",
  "items": [],
  "autocomplete": "0",
  "spellcheck": "0"
}]]></Config>
</DataType>