<?xml version="1.0" encoding="utf-8"?>
<DataType Key="1036d963-8018-4eee-947e-109f14598230" Alias="Header Properties - Hide Fox - Toggle" Level="1">
  <Info>
    <Name>Header Properties - Hide Fox - Toggle</Name>
    <EditorAlias>Umbraco.TrueFalse</EditorAlias>
    <DatabaseType>Integer</DatabaseType>
  </Info>
  <Config><![CDATA[{
  "Default": false,
  "LabelOff": null,
  "LabelOn": null,
  "ShowLabels": false
}]]></Config>
</DataType>