<?xml version="1.0" encoding="utf-8"?>
<DataType Key="1b86a436-eace-42b6-a514-d46ba72edeb2" Alias="[Repeatable textstrings] Names" Level="1">
  <Info>
    <Name>[Repeatable textstrings] Names</Name>
    <EditorAlias>Umbraco.MultipleTextstring</EditorAlias>
    <DatabaseType>Ntext</DatabaseType>
  </Info>
  <Config><![CDATA[{
  "Maximum": 0,
  "Minimum": 0
}]]></Config>
</DataType>