<?xml version="1.0" encoding="utf-8"?>
<DataType Key="b2a5eade-d0dc-4fd3-aacd-37dc818d04d1" Alias="Rich Text Row - Content - Rich Text Editor" Level="1">
  <Info>
    <Name>Rich Text Row - Content - Rich Text Editor</Name>
    <EditorAlias>Umbraco.TinyMCE</EditorAlias>
    <DatabaseType>Ntext</DatabaseType>
  </Info>
  <Config><![CDATA[{
  "Blocks": [],
  "Editor": {
    "toolbar": [
      "ace",
      "styles",
      "bold",
      "italic",
      "alignleft",
      "aligncenter",
      "alignright",
      "bullist",
      "numlist",
      "outdent",
      "indent",
      "link",
      "umbmediapicker",
      "umbmacro",
      "umbembeddialog"
    ],
    "stylesheets": [],
    "maxImageSize": 500,
    "mode": "classic"
  },
  "HideLabel": false,
  "IgnoreUserStartNodes": false,
  "MediaParentId": null,
  "OverlaySize": "small",
  "UseLiveEditing": false
}]]></Config>
</DataType>