<?xml version="1.0" encoding="utf-8"?>
<DataType Key="ed4f9c24-8fe6-469f-b492-158d377c929f" Alias="[Telephone Input] Phone Number" Level="1">
  <Info>
    <Name>[Telephone Input] Phone Number</Name>
    <EditorAlias>Umbraco.Community.Contentment.TextInput</EditorAlias>
    <DatabaseType>Nvarchar</DatabaseType>
  </Info>
  <Config><![CDATA[{
  "inputType": "tel",
  "items": [],
  "autocomplete": "0",
  "spellcheck": "0"
}]]></Config>
</DataType>