<?xml version="1.0" encoding="utf-8"?>
<DataType Key="6bdfa70a-ff4e-4c94-a347-95e2b786603c" Alias="[Text Input] Full Name" Level="1">
  <Info>
    <Name>[Text Input] Full Name</Name>
    <EditorAlias>Umbraco.Community.Contentment.TextInput</EditorAlias>
    <DatabaseType>Nvarchar</DatabaseType>
  </Info>
  <Config><![CDATA[{
  "inputType": "text",
  "items": [],
  "autocomplete": "0",
  "spellcheck": "0"
}]]></Config>
</DataType>