<?xml version="1.0" encoding="utf-8"?>
<DataType Key="90db9516-711e-49ea-b976-d84fd7fbf917" Alias="[Text Input] Message" Level="1">
  <Info>
    <Name>[Text Input] Message</Name>
    <EditorAlias>Umbraco.Community.Contentment.TextInput</EditorAlias>
    <DatabaseType>Nvarchar</DatabaseType>
  </Info>
  <Config><![CDATA[{
  "inputType": "text",
  "items": [],
  "autocomplete": "0",
  "spellcheck": "0"
}]]></Config>
</DataType>