<?xml version="1.0" encoding="utf-8"?>
<ContentType Key="0c1d0106-019d-4c92-8c6a-3f8fe5154f75" Alias="articleListPage" Level="2">
  <Info>
    <Name>Article List Page</Name>
    <Icon>icon-thumbnail-list color-black</Icon>
    <Thumbnail>folder.png</Thumbnail>
    <Description>A list of articles in the blog.</Description>
    <AllowAtRoot>False</AllowAtRoot>
    <IsListView>False</IsListView>
    <Variations>Nothing</Variations>
    <IsElement>false</IsElement>
    <HistoryCleanup>
      <PreventCleanup>False</PreventCleanup>
      <KeepAllVersionsNewerThanDays></KeepAllVersionsNewerThanDays>
      <KeepLatestVersionPerDayForDays></KeepLatestVersionPerDayForDays>
    </HistoryCleanup>
    <Folder>Pages</Folder>
    <Compositions>
      <Composition Key="74b6d666-6314-47e9-87f3-a337e3e9c009">contentProperties</Composition>
      <Composition Key="c267d411-b29b-4564-b8ed-b223f3fad564">headerProperties</Composition>
      <Composition Key="facaeb1e-b219-47f2-acf3-939bd8f70ce1">visibilityProperties</Composition>
    </Compositions>
    <DefaultTemplate>ArticleListPage</DefaultTemplate>
    <AllowedTemplates>
      <Template Key="d2c7d48c-fb1c-488a-a4ce-bd1fe528c26b">ArticleListPage</Template>
    </AllowedTemplates>
  </Info>
  <Structure />
  <GenericProperties />
  <Tabs />
</ContentType>