<?xml version="1.0" encoding="utf-8"?>
<ContentType Key="a5ddef37-5531-4b58-89d4-729c916ff124" Alias="blogCardItem" Level="4">
  <Info>
    <Name>Blog Card Item</Name>
    <Icon>icon-pictures-alt color-deep-purple</Icon>
    <Thumbnail>folder.png</Thumbnail>
    <Description></Description>
    <AllowAtRoot>False</AllowAtRoot>
    <IsListView>False</IsListView>
    <Variations>Nothing</Variations>
    <IsElement>true</IsElement>
    <HistoryCleanup>
      <PreventCleanup>False</PreventCleanup>
      <KeepAllVersionsNewerThanDays></KeepAllVersionsNewerThanDays>
      <KeepLatestVersionPerDayForDays></KeepLatestVersionPerDayForDays>
    </HistoryCleanup>
    <Folder>Elements/Content+Blocks/Content+Models</Folder>
    <Compositions>
      <Composition Key="69cb06f8-3303-42b9-8668-361b77e74160">authorProperty</Composition>
      <Composition Key="6f3bb624-f11b-4d35-84a0-850793d8b9f9">dateLengthProperty</Composition>
      <Composition Key="af782409-fdc6-435e-afc3-0ca3f29c6b98">descriptionProperty</Composition>
      <Composition Key="dbfebe66-c39d-4499-be24-fa33e17ca161">imageProperty</Composition>
      <Composition Key="8c20b364-bffe-419b-915d-bb7e7c0bea7b">linkProperty</Composition>
      <Composition Key="dfe331c1-7713-400f-80d3-2e1ebee9802e">pillProperty</Composition>
      <Composition Key="9552d01b-25d7-4520-8008-5f4914268d6a">titleProperty</Composition>
    </Compositions>
    <DefaultTemplate></DefaultTemplate>
    <AllowedTemplates />
  </Info>
  <Structure />
  <GenericProperties />
  <Tabs />
</ContentType>