<?xml version="1.0" encoding="utf-8"?>
<ContentType Key="3d2ddc2e-4e51-49ac-9530-25063f391630" Alias="fAQPage" Level="2">
  <Info>
    <Name>FAQ Page</Name>
    <Icon>icon-script color-black</Icon>
    <Thumbnail>folder.png</Thumbnail>
    <Description></Description>
    <AllowAtRoot>False</AllowAtRoot>
    <IsListView>False</IsListView>
    <Variations>Nothing</Variations>
    <IsElement>false</IsElement>
    <HistoryCleanup>
      <PreventCleanup>False</PreventCleanup>
      <KeepAllVersionsNewerThanDays></KeepAllVersionsNewerThanDays>
      <KeepLatestVersionPerDayForDays></KeepLatestVersionPerDayForDays>
    </HistoryCleanup>
    <Folder>Pages</Folder>
    <Compositions>
      <Composition Key="74b6d666-6314-47e9-87f3-a337e3e9c009">contentProperties</Composition>
      <Composition Key="c9980462-6e0c-457b-81f2-b16bfda7df34">footerProperties</Composition>
      <Composition Key="c267d411-b29b-4564-b8ed-b223f3fad564">headerProperties</Composition>
    </Compositions>
    <DefaultTemplate>FAQPage</DefaultTemplate>
    <AllowedTemplates>
      <Template Key="91f90035-3083-44e3-badc-06a43a45576a">FAQPage</Template>
    </AllowedTemplates>
  </Info>
  <Structure />
  <GenericProperties />
  <Tabs />
</ContentType>