<?xml version="1.0" encoding="utf-8"?>
<ContentType Key="99aab0e4-72ba-482b-ba8b-dab4fbfbee2a" Alias="homePage" Level="2">
  <Info>
    <Name>Home Page</Name>
    <Icon>icon-home color-blue-grey</Icon>
    <Thumbnail>folder.png</Thumbnail>
    <Description></Description>
    <AllowAtRoot>True</AllowAtRoot>
    <IsListView>False</IsListView>
    <Variations>Nothing</Variations>
    <IsElement>false</IsElement>
    <HistoryCleanup>
      <PreventCleanup>False</PreventCleanup>
      <KeepAllVersionsNewerThanDays></KeepAllVersionsNewerThanDays>
      <KeepLatestVersionPerDayForDays></KeepLatestVersionPerDayForDays>
    </HistoryCleanup>
    <Folder>Pages</Folder>
    <Compositions>
      <Composition Key="c9980462-6e0c-457b-81f2-b16bfda7df34">footerProperties</Composition>
      <Composition Key="c267d411-b29b-4564-b8ed-b223f3fad564">headerProperties</Composition>
      <Composition Key="8c724ec1-9587-4356-90f9-72054b342825">siteNavigationProperties</Composition>
    </Compositions>
    <DefaultTemplate>HomePage</DefaultTemplate>
    <AllowedTemplates>
      <Template Key="1d04fae0-a2e9-45ef-b898-a9a626d32dcc">HomePage</Template>
    </AllowedTemplates>
  </Info>
  <Structure>
    <ContentType Key="4485efeb-e38d-4ec2-a84f-0a4054a473e1" SortOrder="0">contentPage</ContentType>
    <ContentType Key="0c1d0106-019d-4c92-8c6a-3f8fe5154f75" SortOrder="1">articleListPage</ContentType>
    <ContentType Key="5742ce2f-4488-45d9-ad54-3092c3b8216c" SortOrder="2">contactPage</ContentType>
    <ContentType Key="3d2ddc2e-4e51-49ac-9530-25063f391630" SortOrder="3">fAQPage</ContentType>
  </Structure>
  <GenericProperties />
  <Tabs />
</ContentType>