@using Umbraco.Cms.Web.Common.PublishedModels;
@inherits Umbraco.Cms.Web.Common.Views.UmbracoViewPage<ContentModels.ContentPage>
@using ContentModels = Umbraco.Cms.Web.Common.PublishedModels;
@{
	Layout = "Master.cshtml";
}

<header class="py-5">
    <div class="container px-5">
        <div class="row justify-content-center">
            @Html.GetBlockListHtml(Model.MainContent)
        </div>
    </div>
</header>