@inherits UmbracoViewPage<BlockListItem>

@{
    var row = (RichTextRow)Model.Content;
    if (row == null) return;
    var settings = (RichTextRowSettings)Model.Settings;
    if (settings?.Hide ?? false) { return; }
}

<div class="col-lg-12 col-xxl-12">
    <div class="text-center my-5">
        <h1 class="fw-bolder mb-3">@row.Title</h1>
        <p class="lead fw-normal text-muted mb-4">@row.Content</p>
    </div>
</div>