<?xml version="1.0" encoding="utf-8"?>
<Media Key="27d9a39f-8c33-423c-b0cd-dc10f6506216" Alias="Favicon" Level="1">
  <Info>
    <Parent Key="00000000-0000-0000-0000-000000000000"></Parent>
    <Path>/Favicon</Path>
    <Trashed>false</Trashed>
    <ContentType>Image</ContentType>
    <CreateDate>2024-06-03T23:20:53</CreateDate>
    <NodeName Default="Favicon" />
    <SortOrder>5</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[{
  "src": "/media/tgrnsjzt/favicon.png"
}]]></Value>
    </umbracoFile>
  </Properties>
</Media>