<?xml version="1.0" encoding="utf-8"?>
<Media Key="83508bc7-5ebc-49bc-9449-587901a3fefa" Alias="Fox1" Level="1">
  <Info>
    <Parent Key="00000000-0000-0000-0000-000000000000"></Parent>
    <Path>/Fox1</Path>
    <Trashed>false</Trashed>
    <ContentType>Image</ContentType>
    <CreateDate>2024-06-03T23:19:28</CreateDate>
    <NodeName Default="Fox1" />
    <SortOrder>3</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[{
  "src": "/media/ygffba32/fox1.jpg"
}]]></Value>
    </umbracoFile>
  </Properties>
</Media>