<?xml version="1.0" encoding="utf-8"?>
<Media Key="5ebff5b0-17a3-4e5a-bc25-9c92e1ea0a44" Alias="Fox2" Level="1">
  <Info>
    <Parent Key="00000000-0000-0000-0000-000000000000"></Parent>
    <Path>/Fox2</Path>
    <Trashed>false</Trashed>
    <ContentType>Image</ContentType>
    <CreateDate>2024-06-03T23:19:28</CreateDate>
    <NodeName Default="Fox2" />
    <SortOrder>2</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[{
  "src": "/media/w10l4xvd/fox2.jpg"
}]]></Value>
    </umbracoFile>
  </Properties>
</Media>