<?xml version="1.0" encoding="utf-8"?>
<Media Key="6b4f6e2e-f5c8-475a-8d3b-2fc84280f77d" Alias="Fox4" Level="1">
  <Info>
    <Parent Key="00000000-0000-0000-0000-000000000000"></Parent>
    <Path>/Fox4</Path>
    <Trashed>false</Trashed>
    <ContentType>Image</ContentType>
    <CreateDate>2024-06-03T23:19:28</CreateDate>
    <NodeName Default="Fox4" />
    <SortOrder>1</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[{
  "src": "/media/fbxe404i/fox4.jpg"
}]]></Value>
    </umbracoFile>
  </Properties>
</Media>