<?xml version="1.0" encoding="utf-8"?>
<Dictionary Key="65186bf2-6ed9-4208-805b-1f59da098bfc" Alias="Footer.CopyrightTitle" Level="1">
  <Info>
    <Parent>Footer</Parent>
  </Info>
  <Translations>
    <Translation Language="en-US">© Copyright AllAboutFoxes</Translation>
  </Translations>
</Dictionary>