<?xml version="1.0" encoding="utf-8"?>
<Content Key="1ab44535-3f95-4df5-807b-e7932d033bb7" Alias="About" Level="2">
  <Info>
    <Parent Key="8bd9831b-e4c5-4383-9f01-7701c64b36da">Home Page</Parent>
    <Path>/HomePage/About</Path>
    <Trashed>false</Trashed>
    <ContentType>contentPage</ContentType>
    <CreateDate>2024-05-28T20:26:24</CreateDate>
    <NodeName Default="About" />
    <SortOrder>0</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template Key="67da8c2e-a205-43f1-9c9b-c1eca0a30770">ContentPage</Template>
  </Info>
  <Properties>
    <bodyText>
      <Value><![CDATA[]]></Value>
    </bodyText>
    <headerImage>
      <Value><![CDATA[[]]]></Value>
    </headerImage>
    <mainContent>
      <Value><![CDATA[{
  "layout": {
    "Umbraco.BlockList": [
      {
        "contentUdi": "umb://element/75969bc78f6b41789b5c731dd71acc77",
        "settingsUdi": "umb://element/41a4b13d40384234925a6070af502fc3"
      },
      {
        "contentUdi": "umb://element/94b91674bea84f3a9b6dc5a63489fa01",
        "settingsUdi": "umb://element/4348983f54774cd8b6c0c72d28954ef8"
      },
      {
        "contentUdi": "umb://element/452325933cc64a43ad60ac2a3aa3410e",
        "settingsUdi": "umb://element/87ca96a261434466af63327f2f0b71bb"
      },
      {
        "contentUdi": "umb://element/3e73bda0bfc9449b9a2c04654811f4d9",
        "settingsUdi": "umb://element/6f0bbbcf12794a4a8b7cb0e46044f549"
      }
    ]
  },
  "contentData": [
    {
      "contentTypeKey": "19bc126c-ddf7-4bc0-8122-e1565f2876be",
      "udi": "umb://element/75969bc78f6b41789b5c731dd71acc77",
      "content": {
        "markup": "<p>Foxes are small-to-medium-sized omnivorous mammals belonging to several genera of the family Canidae. They have a flattened skull; upright, triangular ears; a pointed, slightly upturned snout; and a long, bushy tail (\"brush\").</p>",
        "blocks": {
          "contentData": [],
          "settingsData": []
        }
      },
      "title": "What is a fox?"
    },
    {
      "contentTypeKey": "ec2c8064-e0c7-43cd-b8c5-ba3a334b5053",
      "udi": "umb://element/94b91674bea84f3a9b6dc5a63489fa01",
      "imageCaption": "This is a fox.",
      "image": [
        {
          "key": "c4e8d7f1-b6af-46f1-ae58-66297ea1aa42",
          "mediaKey": "83508bc7-5ebc-49bc-9449-587901a3fefa"
        }
      ],
      "imageLink": [
        {
          "url": "https://google.com/search?q=WhatDoesTheFoxSay"
        }
      ]
    },
    {
      "contentTypeKey": "09cee107-3b10-466b-a25b-b2606c7858bd",
      "udi": "umb://element/3e73bda0bfc9449b9a2c04654811f4d9",
      "title": "Take a look at some of the blog posts about foxes.",
      "description": "(These are not actual blog posts from this site)",
      "featuredItems": {
        "layout": {
          "Umbraco.BlockList": [
            {
              "contentUdi": "umb://element/454bd54e217d4555b8bd691d53482717",
              "settingsUdi": "umb://element/4394deae2b9f43339627ba1808a76baa"
            },
            {
              "contentUdi": "umb://element/ffe4f8e7d6984c96aefc654e14a2b66c",
              "settingsUdi": "umb://element/100e3fb310ca438a971aa5d5ca195e9e"
            },
            {
              "contentUdi": "umb://element/17784eb1dbc24a9c99508fbfc992b976",
              "settingsUdi": "umb://element/4a73e0a2401646f08f384a8e2913a081"
            }
          ]
        },
        "contentData": [
          {
            "contentTypeKey": "a5ddef37-5531-4b58-89d4-729c916ff124",
            "udi": "umb://element/454bd54e217d4555b8bd691d53482717",
            "pill": "News",
            "image": [
              {
                "key": "8bdc9b84-42ea-4cd5-b633-75ed4aff03b4",
                "mediaKey": "83508bc7-5ebc-49bc-9449-587901a3fefa"
              }
            ],
            "title": "Foxes (Vulpes vulpes)",
            "description": "They have very varied diet, Urban foxes eat earthworms, insects, fruit and vegetables and a wide variety of both domestic wild birds and mammals.",
            "author": "BBCWildlife",
            "date": "2024-06-04T00:00:00",
            "readDuration": "15 min read",
            "link": [
              {
                "url": "https://www.bbcwildlife.org.uk/urban-fox"
              }
            ]
          },
          {
            "contentTypeKey": "a5ddef37-5531-4b58-89d4-729c916ff124",
            "udi": "umb://element/ffe4f8e7d6984c96aefc654e14a2b66c",
            "pill": "Oh no!",
            "image": [
              {
                "key": "3549a9a1-6c92-4dab-9945-f91f06312abd",
                "mediaKey": "8c1fb0a6-ba89-4b21-8e97-c251d40111a3"
              }
            ],
            "title": "I’ve found a dead fox, what can I do?",
            "description": "Unfortunately, due to the amount of time we spend dealing with fox rescues, we are unable to dedicate the time to picking up dead foxes. If the fox is on a public highway/public land then it is either Highways England, or the council's job to remove it.",
            "author": "TheFoxRescuers",
            "date": "2024-06-03T00:00:00",
            "readDuration": "8 min read",
            "link": [
              {
                "url": "https://www.thefoxrescuers.org.uk/faqs"
              }
            ]
          },
          {
            "contentTypeKey": "a5ddef37-5531-4b58-89d4-729c916ff124",
            "udi": "umb://element/17784eb1dbc24a9c99508fbfc992b976",
            "pill": "Foxy",
            "image": [
              {
                "key": "e4002220-e985-426a-817a-293fbe7e3426",
                "mediaKey": "6b4f6e2e-f5c8-475a-8d3b-2fc84280f77d"
              }
            ],
            "title": "How much does a male red fox weigh?",
            "description": "Anything up to 8 kg average weight in pounds would be roughly 14 - 16 lbs. A Vixen weighs approximatel 5kg and a Dog Fox about 6 - 7kg",
            "author": "NatFoxWelfare",
            "date": "2024-05-31T00:00:00",
            "readDuration": "5 mins read",
            "link": [
              {
                "url": "https://www.national-fox-welfare.com/red-fox-faq"
              }
            ]
          }
        ],
        "settingsData": [
          {
            "contentTypeKey": "cfd25a34-68af-4cb2-a13e-9700498bfd08",
            "udi": "umb://element/4394deae2b9f43339627ba1808a76baa",
            "hide": ""
          },
          {
            "contentTypeKey": "cfd25a34-68af-4cb2-a13e-9700498bfd08",
            "udi": "umb://element/100e3fb310ca438a971aa5d5ca195e9e",
            "hide": ""
          },
          {
            "contentTypeKey": "cfd25a34-68af-4cb2-a13e-9700498bfd08",
            "udi": "umb://element/4a73e0a2401646f08f384a8e2913a081",
            "hide": ""
          }
        ]
      }
    },
    {
      "contentTypeKey": "dde83000-5a71-4860-94e2-2a19336f448f",
      "udi": "umb://element/452325933cc64a43ad60ac2a3aa3410e",
      "description": "As soon as I saw this website, I knew - this surely is a website. Maybe the best one out there. Probably not. But still, nobody can deny that it is one!",
      "author": "Henry Konno / Developer, Bestway"
    }
  ],
  "settingsData": [
    {
      "contentTypeKey": "09b2890e-9d1b-416c-b654-a93f399dbf94",
      "udi": "umb://element/41a4b13d40384234925a6070af502fc3",
      "hide": "0"
    },
    {
      "contentTypeKey": "8c1af8e9-fd7b-4d00-9695-a2c2b1689045",
      "udi": "umb://element/4348983f54774cd8b6c0c72d28954ef8",
      "hide": "0"
    },
    {
      "contentTypeKey": "42f61400-5ae6-41d3-adea-ccbc549c114f",
      "udi": "umb://element/6f0bbbcf12794a4a8b7cb0e46044f549",
      "hide": "0"
    },
    {
      "contentTypeKey": "0cf06379-6869-4bde-b1d8-0c113094ba63",
      "udi": "umb://element/87ca96a261434466af63327f2f0b71bb",
      "hide": "0"
    }
  ]
}]]></Value>
    </mainContent>
    <navIcon>
      <Value><![CDATA[[
  {
    "key": "13d00b00-4a39-4dba-9ae3-dd6416566007",
    "mediaKey": "27d9a39f-8c33-423c-b0cd-dc10f6506216"
  }
]]]></Value>
    </navIcon>
    <subtitle>
      <Value><![CDATA[How can you contact a fox? What does the fox say? Find out more here.]]></Value>
    </subtitle>
    <title>
      <Value><![CDATA[Fox Contact]]></Value>
    </title>
    <umbracoNaviHide>
      <Value><![CDATA[1]]></Value>
    </umbracoNaviHide>
  </Properties>
</Content>