<?xml version="1.0" encoding="utf-8"?>
<Content Key="c67ee809-734d-4ef2-bece-7ad6f612ceb3" Alias="Blog" Level="2">
  <Info>
    <Parent Key="8bd9831b-e4c5-4383-9f01-7701c64b36da">Home Page</Parent>
    <Path>/HomePage/Blog</Path>
    <Trashed>false</Trashed>
    <ContentType>articleListPage</ContentType>
    <CreateDate>2024-05-31T15:41:53</CreateDate>
    <NodeName Default="Blog" />
    <SortOrder>1</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template Key="d2c7d48c-fb1c-488a-a4ce-bd1fe528c26b">ArticleListPage</Template>
  </Info>
  <Properties>
    <bodyText>
      <Value><![CDATA[]]></Value>
    </bodyText>
    <headerImage>
      <Value><![CDATA[[]]]></Value>
    </headerImage>
    <mainContent>
      <Value><![CDATA[]]></Value>
    </mainContent>
    <navIcon>
      <Value><![CDATA[[
  {
    "key": "e1ed84d0-25e8-4f75-a412-6b359311b823",
    "mediaKey": "27d9a39f-8c33-423c-b0cd-dc10f6506216"
  }
]]]></Value>
    </navIcon>
    <subtitle>
      <Value><![CDATA[This is the page of the blogs.]]></Value>
    </subtitle>
    <title>
      <Value><![CDATA[Blog Page]]></Value>
    </title>
    <umbracoNaviHide>
      <Value><![CDATA[0]]></Value>
    </umbracoNaviHide>
  </Properties>
</Content>