<?xml version="1.0" encoding="utf-8"?>
<Content Key="593575c0-445e-45fa-beab-5d890653117e" Alias="Contact" Level="2">
  <Info>
    <Parent Key="8bd9831b-e4c5-4383-9f01-7701c64b36da">Home Page</Parent>
    <Path>/HomePage/Contact</Path>
    <Trashed>false</Trashed>
    <ContentType>contactPage</ContentType>
    <CreateDate>2024-05-31T15:42:03</CreateDate>
    <NodeName Default="Contact" />
    <SortOrder>2</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template Key="94a0fd92-54bf-4b48-ad32-07d9648648d6">ContactPage</Template>
  </Info>
  <Properties>
    <bodyText>
      <Value><![CDATA[]]></Value>
    </bodyText>
    <contactForm>
      <Value><![CDATA[]]></Value>
    </contactForm>
    <headerImage>
      <Value><![CDATA[[]]]></Value>
    </headerImage>
    <mainContent>
      <Value><![CDATA[]]></Value>
    </mainContent>
    <navIcon>
      <Value><![CDATA[[
  {
    "key": "98e5cad6-35d6-4be7-a0e3-cfe107b12a4c",
    "mediaKey": "27d9a39f-8c33-423c-b0cd-dc10f6506216"
  }
]]]></Value>
    </navIcon>
    <subtitle>
      <Value><![CDATA[This is where you can contact me!]]></Value>
    </subtitle>
    <title>
      <Value><![CDATA[Contact Me!]]></Value>
    </title>
    <umbracoNaviHide>
      <Value><![CDATA[0]]></Value>
    </umbracoNaviHide>
  </Properties>
</Content>