<?xml version="1.0" encoding="utf-8"?>
<Content Key="8b59039e-d70b-41fa-8178-c15c6e20326c" Alias="FAQ" Level="2">
  <Info>
    <Parent Key="8bd9831b-e4c5-4383-9f01-7701c64b36da">Home Page</Parent>
    <Path>/HomePage/FAQ</Path>
    <Trashed>false</Trashed>
    <ContentType>fAQPage</ContentType>
    <CreateDate>2024-06-02T15:46:20</CreateDate>
    <NodeName Default="FAQ" />
    <SortOrder>3</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template Key="91f90035-3083-44e3-badc-06a43a45576a">FAQPage</Template>
  </Info>
  <Properties>
    <bodyText>
      <Value><![CDATA[]]></Value>
    </bodyText>
    <footerSocialLinks>
      <Value><![CDATA[[
  {
    "network": "linkedin",
    "name": "LinkedIn",
    "url": "https://linkedin.com/in/"
  },
  {
    "network": "github",
    "name": "GitHub",
    "url": "https://github.com/"
  }
]]]></Value>
    </footerSocialLinks>
    <headerImage>
      <Value><![CDATA[[]]]></Value>
    </headerImage>
    <mainContent>
      <Value><![CDATA[{
  "layout": {
    "Umbraco.BlockList": [
      {
        "contentUdi": "umb://element/5bec0d9f7e51479888b1344473d3e752",
        "settingsUdi": "umb://element/6f687a1517b048b4832962ee14f43a6d"
      },
      {
        "contentUdi": "umb://element/ae1c07a80c5f48bc90bda975012b3ddf",
        "settingsUdi": "umb://element/1894fbaf82bd4839aee4a0363d552b18"
      }
    ]
  },
  "contentData": [
    {
      "contentTypeKey": "686aa115-dc14-4667-9b82-7ca3b3dd5ddb",
      "udi": "umb://element/5bec0d9f7e51479888b1344473d3e752",
      "title": "What DOES the fox say?",
      "description": "",
      "accordionItems": {
        "layout": {
          "Umbraco.BlockList": [
            {
              "contentUdi": "umb://element/ad982bfd4f6244b1855651ea20fc7bc4",
              "settingsUdi": "umb://element/3c48304f1c534b9d9981b919a21326da"
            },
            {
              "contentUdi": "umb://element/c7fb628890bb4c6d9d9723558e2291d1",
              "settingsUdi": "umb://element/bf96aa9680294b1c952c20875fb1bbb0"
            },
            {
              "contentUdi": "umb://element/8fc97515308142a8bc568767d90248db",
              "settingsUdi": "umb://element/9d385fc3adca4443917e4e799c0777a8"
            }
          ]
        },
        "contentData": [
          {
            "contentTypeKey": "414edff7-37cc-459b-bc6c-28852d40e61b",
            "udi": "umb://element/ad982bfd4f6244b1855651ea20fc7bc4",
            "title": "Answer 1",
            "content": {
              "markup": "<p>Yip.</p>",
              "blocks": {
                "contentData": [],
                "settingsData": []
              }
            }
          },
          {
            "contentTypeKey": "414edff7-37cc-459b-bc6c-28852d40e61b",
            "udi": "umb://element/c7fb628890bb4c6d9d9723558e2291d1",
            "title": "Answer 2",
            "content": {
              "markup": "<p>Bark.</p>",
              "blocks": {
                "contentData": [],
                "settingsData": []
              }
            }
          },
          {
            "contentTypeKey": "414edff7-37cc-459b-bc6c-28852d40e61b",
            "udi": "umb://element/8fc97515308142a8bc568767d90248db",
            "title": "Answer 3",
            "content": {
              "markup": "<p><strong>Howl.</strong></p>",
              "blocks": {
                "contentData": [],
                "settingsData": []
              }
            }
          }
        ],
        "settingsData": [
          {
            "contentTypeKey": "f5450c29-4ad8-4a29-b128-199a7540a195",
            "udi": "umb://element/3c48304f1c534b9d9981b919a21326da",
            "hide": ""
          },
          {
            "contentTypeKey": "f5450c29-4ad8-4a29-b128-199a7540a195",
            "udi": "umb://element/bf96aa9680294b1c952c20875fb1bbb0",
            "hide": ""
          },
          {
            "contentTypeKey": "f5450c29-4ad8-4a29-b128-199a7540a195",
            "udi": "umb://element/9d385fc3adca4443917e4e799c0777a8",
            "hide": ""
          }
        ]
      }
    },
    {
      "contentTypeKey": "686aa115-dc14-4667-9b82-7ca3b3dd5ddb",
      "udi": "umb://element/ae1c07a80c5f48bc90bda975012b3ddf",
      "title": "FAQ",
      "description": "",
      "accordionItems": {
        "layout": {
          "Umbraco.BlockList": [
            {
              "contentUdi": "umb://element/9ba6a0fbffc84f45b3c54bdff8d72481",
              "settingsUdi": "umb://element/53c6de7977bc4698af3d415a920998e9"
            },
            {
              "contentUdi": "umb://element/31c1481e84444e08b3104747b33c978b",
              "settingsUdi": "umb://element/982a1770d8be47619417d659da63b34f"
            },
            {
              "contentUdi": "umb://element/61283d3e9f3a4eaf850af7a605a25fa4",
              "settingsUdi": "umb://element/5daa93e054de45bf9ff2c10898e34983"
            }
          ]
        },
        "contentData": [
          {
            "contentTypeKey": "414edff7-37cc-459b-bc6c-28852d40e61b",
            "udi": "umb://element/9ba6a0fbffc84f45b3c54bdff8d72481",
            "title": "Are fox populations increasing in Britain?",
            "content": {
              "markup": "<p>There is no simple or straight forward answer to this question because there is no regular census of fox populations anywhere in the world. Furthermore, the fox population is not uniformly distributed or responsive across Britain; so populations in some areas may be higher than those in others. Current informal (unpublished) estimates from The Mammal Society and the Animal and Plant Health Authority suggest that the stable (i.e. pre-cubbing) British fox population is around 430,000 animals, while a recent analysis from Brighton University suggests about 150,000 these live in towns and cities.</p>\n<p>tl;dr Depends.</p>",
              "blocks": {
                "contentData": [],
                "settingsData": []
              }
            }
          },
          {
            "contentTypeKey": "414edff7-37cc-459b-bc6c-28852d40e61b",
            "udi": "umb://element/31c1481e84444e08b3104747b33c978b",
            "title": "Are foxes colour-blind?",
            "content": {
              "markup": "<p>A combination of retinographic and behavioural observations suggest that foxes, like most dogs, can see colour, albeit to a lower extent than we can. Foxes possess dichromatic (two-colour) vision that essentially makes them red-green colour blind. The result is that foxes probably see the world in more pastel shades than vibrant colour. The lack of a fovea in canines also implies that humans have a better eye for detail than dogs, while their abundance of rods on the canid retina suggests dogs can discriminate between shades of grey and pick out movement better than we can.</p>\n<p>tl;dr Sort of, yes. red-green colour blindness.</p>",
              "blocks": {
                "contentData": [],
                "settingsData": []
              }
            }
          },
          {
            "contentTypeKey": "414edff7-37cc-459b-bc6c-28852d40e61b",
            "udi": "umb://element/61283d3e9f3a4eaf850af7a605a25fa4",
            "title": "Is it okay for me to feed wildlife?",
            "content": {
              "markup": "<p>Perhaps, although provided the food is appropriate and offered in moderation the it is unlikely to cause many problems. Feeding wildlife is a common practice all over the world, with many people seeing it as a chance to help their local wildlife out during tough periods when food is hard to find. Others view food is an invaluable tool in generating ‘close encounters’ with wildlife; without it many people would never see some species and many of the photos adorning glossy wildlife magazines would never have been taken. There are, however, some compelling arguments against feeding wildlife, including building dependencies, habituating animals to humans, increased aggression of fed animals, high mortality on the roads, substantial (unsustainable) increases in population numbers, digestive problems and the attraction of predators. So serious are some of these issues that it is illegal to feed wildlife in some countries.</p>\n<p>tl;dr Not really.</p>",
              "blocks": {
                "contentData": [],
                "settingsData": []
              }
            }
          }
        ],
        "settingsData": [
          {
            "contentTypeKey": "f5450c29-4ad8-4a29-b128-199a7540a195",
            "udi": "umb://element/53c6de7977bc4698af3d415a920998e9",
            "hide": ""
          },
          {
            "contentTypeKey": "f5450c29-4ad8-4a29-b128-199a7540a195",
            "udi": "umb://element/982a1770d8be47619417d659da63b34f",
            "hide": ""
          },
          {
            "contentTypeKey": "f5450c29-4ad8-4a29-b128-199a7540a195",
            "udi": "umb://element/5daa93e054de45bf9ff2c10898e34983",
            "hide": ""
          }
        ]
      }
    }
  ],
  "settingsData": [
    {
      "contentTypeKey": "7849af9c-84ec-4a10-8c5e-9d89ea422bc0",
      "udi": "umb://element/6f687a1517b048b4832962ee14f43a6d",
      "hide": "0"
    },
    {
      "contentTypeKey": "7849af9c-84ec-4a10-8c5e-9d89ea422bc0",
      "udi": "umb://element/1894fbaf82bd4839aee4a0363d552b18",
      "hide": "0"
    }
  ]
}]]></Value>
    </mainContent>
    <navIcon>
      <Value><![CDATA[[
  {
    "key": "8688bbca-32ba-454d-93fe-784cc549ce2d",
    "mediaKey": "27d9a39f-8c33-423c-b0cd-dc10f6506216"
  }
]]]></Value>
    </navIcon>
    <subtitle>
      <Value><![CDATA[Questions that have been asked once or more.]]></Value>
    </subtitle>
    <title>
      <Value><![CDATA[FAQ - Frequently Asked Questions]]></Value>
    </title>
  </Properties>
</Content>