<?xml version="1.0" encoding="utf-8"?>
<Content Key="8b59039e-d70b-41fa-8178-c15c6e20326c" Alias="FAQ" Level="2">
  <Info>
    <Parent Key="8bd9831b-e4c5-4383-9f01-7701c64b36da">Home Page</Parent>
    <Path>/HomePage/FAQ</Path>
    <Trashed>false</Trashed>
    <ContentType>fAQPage</ContentType>
    <CreateDate>2024-06-02T15:46:20</CreateDate>
    <NodeName Default="FAQ" />
    <SortOrder>3</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template Key="91f90035-3083-44e3-badc-06a43a45576a">FAQPage</Template>
  </Info>
  <Properties>
    <bodyText>
      <Value><![CDATA[]]></Value>
    </bodyText>
    <footerSocialLinks>
      <Value><![CDATA[[
  {
    "network": "linkedin",
    "name": "LinkedIn",
    "url": "https://linkedin.com/in/"
  },
  {
    "network": "github",
    "name": "GitHub",
    "url": "https://github.com/"
  }
]]]></Value>
    </footerSocialLinks>
    <headerImage>
      <Value><![CDATA[[
  {
    "key": "e8321b1c-d635-4dbb-9202-dcbe781cd99e",
    "mediaKey": "9392819e-f0d0-49fa-99fb-62dca915b887"
  }
]]]></Value>
    </headerImage>
    <mainContent>
      <Value><![CDATA[{
  "layout": {
    "Umbraco.BlockList": [
      {
        "contentUdi": "umb://element/5bec0d9f7e51479888b1344473d3e752",
        "settingsUdi": "umb://element/6f687a1517b048b4832962ee14f43a6d"
      },
      {
        "contentUdi": "umb://element/ae1c07a80c5f48bc90bda975012b3ddf",
        "settingsUdi": "umb://element/1894fbaf82bd4839aee4a0363d552b18"
      }
    ]
  },
  "contentData": [
    {
      "contentTypeKey": "686aa115-dc14-4667-9b82-7ca3b3dd5ddb",
      "udi": "umb://element/5bec0d9f7e51479888b1344473d3e752",
      "title": "Account & Billing",
      "description": "",
      "accordionItems": {
        "layout": {
          "Umbraco.BlockList": [
            {
              "contentUdi": "umb://element/ad982bfd4f6244b1855651ea20fc7bc4",
              "settingsUdi": "umb://element/3c48304f1c534b9d9981b919a21326da"
            },
            {
              "contentUdi": "umb://element/c7fb628890bb4c6d9d9723558e2291d1",
              "settingsUdi": "umb://element/bf96aa9680294b1c952c20875fb1bbb0"
            },
            {
              "contentUdi": "umb://element/8fc97515308142a8bc568767d90248db",
              "settingsUdi": "umb://element/9d385fc3adca4443917e4e799c0777a8"
            }
          ]
        },
        "contentData": [
          {
            "contentTypeKey": "414edff7-37cc-459b-bc6c-28852d40e61b",
            "udi": "umb://element/ad982bfd4f6244b1855651ea20fc7bc4",
            "title": "Accordion item 1",
            "content": {
              "markup": "<p><strong>This is the first item's accordion body.</strong><span>&nbsp;It is shown by default, until the collapse plugin adds the appropriate classes that we use to style each element. These classes control the overall appearance, as well as the showing and hiding via CSS transitions. You can modify any of this with custom CSS or overriding our default variables. It's also worth noting that just about any HTML can go within the&nbsp;</span>.accordion-body<span>&nbsp;, though the transition does limit overflow.</span></p>",
              "blocks": {
                "contentData": [],
                "settingsData": []
              }
            }
          },
          {
            "contentTypeKey": "414edff7-37cc-459b-bc6c-28852d40e61b",
            "udi": "umb://element/c7fb628890bb4c6d9d9723558e2291d1",
            "title": "Accordion Item 2",
            "content": {
              "markup": "<p><strong>This is the second item's accordion body.</strong><span>&nbsp;It is hidden by default, until the collapse plugin adds the appropriate classes that we use to style each element. These classes control the overall appearance, as well as the showing and hiding via CSS transitions. You can modify any of this with custom CSS or overriding our default variables. It's also worth noting that just about any HTML can go within the&nbsp;</span>.accordion-body<span>&nbsp;, though the transition does limit overflow.</span></p>",
              "blocks": {
                "contentData": [],
                "settingsData": []
              }
            }
          },
          {
            "contentTypeKey": "414edff7-37cc-459b-bc6c-28852d40e61b",
            "udi": "umb://element/8fc97515308142a8bc568767d90248db",
            "title": "Accordion item 3",
            "content": {
              "markup": "<p><strong>This is the second item's accordion body.</strong><span>&nbsp;It is hidden by default, until the collapse plugin adds the appropriate classes that we use to style each element. These classes control the overall appearance, as well as the showing and hiding via CSS transitions. You can modify any of this with custom CSS or overriding our default variables. It's also worth noting that just about any HTML can go within the&nbsp;</span>.accordion-body<span>&nbsp;, though the transition does limit overflow.</span></p>",
              "blocks": {
                "contentData": [],
                "settingsData": []
              }
            }
          }
        ],
        "settingsData": [
          {
            "contentTypeKey": "f5450c29-4ad8-4a29-b128-199a7540a195",
            "udi": "umb://element/3c48304f1c534b9d9981b919a21326da",
            "hide": ""
          },
          {
            "contentTypeKey": "f5450c29-4ad8-4a29-b128-199a7540a195",
            "udi": "umb://element/bf96aa9680294b1c952c20875fb1bbb0",
            "hide": ""
          },
          {
            "contentTypeKey": "f5450c29-4ad8-4a29-b128-199a7540a195",
            "udi": "umb://element/9d385fc3adca4443917e4e799c0777a8",
            "hide": ""
          }
        ]
      }
    },
    {
      "contentTypeKey": "686aa115-dc14-4667-9b82-7ca3b3dd5ddb",
      "udi": "umb://element/ae1c07a80c5f48bc90bda975012b3ddf",
      "title": "New FAQ Accordion",
      "description": "",
      "accordionItems": {
        "layout": {
          "Umbraco.BlockList": [
            {
              "contentUdi": "umb://element/9ba6a0fbffc84f45b3c54bdff8d72481",
              "settingsUdi": "umb://element/53c6de7977bc4698af3d415a920998e9"
            },
            {
              "contentUdi": "umb://element/31c1481e84444e08b3104747b33c978b",
              "settingsUdi": "umb://element/982a1770d8be47619417d659da63b34f"
            }
          ]
        },
        "contentData": [
          {
            "contentTypeKey": "414edff7-37cc-459b-bc6c-28852d40e61b",
            "udi": "umb://element/9ba6a0fbffc84f45b3c54bdff8d72481",
            "title": "Item 1",
            "content": {
              "markup": "<p>Text for item 1.</p>",
              "blocks": {
                "contentData": [],
                "settingsData": []
              }
            }
          },
          {
            "contentTypeKey": "414edff7-37cc-459b-bc6c-28852d40e61b",
            "udi": "umb://element/31c1481e84444e08b3104747b33c978b",
            "title": "Item 2",
            "content": {
              "markup": "<p>Text for item 2.</p>",
              "blocks": {
                "contentData": [],
                "settingsData": []
              }
            }
          }
        ],
        "settingsData": [
          {
            "contentTypeKey": "f5450c29-4ad8-4a29-b128-199a7540a195",
            "udi": "umb://element/53c6de7977bc4698af3d415a920998e9",
            "hide": ""
          },
          {
            "contentTypeKey": "f5450c29-4ad8-4a29-b128-199a7540a195",
            "udi": "umb://element/982a1770d8be47619417d659da63b34f",
            "hide": ""
          }
        ]
      }
    }
  ],
  "settingsData": [
    {
      "contentTypeKey": "7849af9c-84ec-4a10-8c5e-9d89ea422bc0",
      "udi": "umb://element/6f687a1517b048b4832962ee14f43a6d",
      "hide": "0"
    },
    {
      "contentTypeKey": "7849af9c-84ec-4a10-8c5e-9d89ea422bc0",
      "udi": "umb://element/1894fbaf82bd4839aee4a0363d552b18",
      "hide": "0"
    }
  ]
}]]></Value>
    </mainContent>
    <navIcon>
      <Value><![CDATA[[
  {
    "key": "b27ebad2-2288-44c4-b7ec-3f6b58d55b1d",
    "mediaKey": "0e5b500a-fff1-45c4-b5af-af5dfdb90eb6"
  }
]]]></Value>
    </navIcon>
    <subtitle>
      <Value><![CDATA[Questions that have been asked once or more.]]></Value>
    </subtitle>
    <title>
      <Value><![CDATA[FAQ - Frequently Asked Questions]]></Value>
    </title>
  </Properties>
</Content>