<?xml version="1.0" encoding="utf-8"?>
<Content Key="8bd9831b-e4c5-4383-9f01-7701c64b36da" Alias="Home Page" Level="1">
  <Info>
    <Parent Key="00000000-0000-0000-0000-000000000000"></Parent>
    <Path>/HomePage</Path>
    <Trashed>false</Trashed>
    <ContentType>homePage</ContentType>
    <CreateDate>2024-05-28T18:32:33</CreateDate>
    <NodeName Default="Home Page" />
    <SortOrder>0</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template Key="1d04fae0-a2e9-45ef-b898-a9a626d32dcc">HomePage</Template>
  </Info>
  <Properties>
    <headerImage>
      <Value><![CDATA[[
  {
    "key": "2f925e66-c2c3-4827-8d84-8efa249d75c2",
    "mediaKey": "da423393-baa2-4489-9d46-4e81ba4e06a3"
  }
]]]></Value>
    </headerImage>
    <mainNavigation>
      <Value><![CDATA[{
  "layout": {
    "Umbraco.BlockList": [
      {
        "contentUdi": "umb://element/8b4fedf59d694db1b11df6530461795b"
      },
      {
        "contentUdi": "umb://element/6769f47f7ca5426697c4929e03f7b8d4"
      },
      {
        "contentUdi": "umb://element/ea282a1d299d4b05a8c908a06d61926b"
      },
      {
        "contentUdi": "umb://element/7bef4268f42f4d09afd49e50d3cf947b"
      }
    ]
  },
  "contentData": [
    {
      "contentTypeKey": "9c619961-a596-4c59-af4f-d1803af6def2",
      "udi": "umb://element/8b4fedf59d694db1b11df6530461795b",
      "title": "Home",
      "link": [
        {
          "udi": "umb://document/8bd9831be4c543839f017701c64b36da"
        }
      ],
      "subLinks": ""
    },
    {
      "contentTypeKey": "9c619961-a596-4c59-af4f-d1803af6def2",
      "udi": "umb://element/6769f47f7ca5426697c4929e03f7b8d4",
      "title": "About",
      "link": "",
      "subLinks": [
        {
          "udi": "umb://document/1ab445353f954df5807be7932d033bb7"
        }
      ]
    },
    {
      "contentTypeKey": "9c619961-a596-4c59-af4f-d1803af6def2",
      "udi": "umb://element/ea282a1d299d4b05a8c908a06d61926b",
      "title": "Blog",
      "link": "",
      "subLinks": [
        {
          "udi": "umb://document/c67ee809734d4ef2bece7ad6f612ceb3"
        },
        {
          "name": "Most Popular",
          "url": "#most-popular"
        },
        {
          "name": "Latest Posts",
          "url": "#Latest"
        }
      ]
    },
    {
      "contentTypeKey": "9c619961-a596-4c59-af4f-d1803af6def2",
      "udi": "umb://element/7bef4268f42f4d09afd49e50d3cf947b",
      "title": "Contact",
      "link": [
        {
          "udi": "umb://document/593575c0445e45fabeab5d890653117e"
        }
      ],
      "subLinks": ""
    }
  ],
  "settingsData": []
}]]></Value>
    </mainNavigation>
    <navIcon>
      <Value><![CDATA[[
  {
    "key": "4dc571ca-795b-4c89-a463-1404ef3c4cda",
    "mediaKey": "0e5b500a-fff1-45c4-b5af-af5dfdb90eb6"
  }
]]]></Value>
    </navIcon>
    <subtitle>
      <Value><![CDATA[You can find out everything about foxes here!]]></Value>
    </subtitle>
    <title>
      <Value><![CDATA[All About Foxes!]]></Value>
    </title>
  </Properties>
</Content>